<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3uilD | Carrito</title>
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  
  
  
  <header class="header">
    <nav class="navbar">
      <a href="index.html" class="logo" aria-label="3uilD - Inicio">
        3<span>u</span>ilD
      </a>

      <div class="nav-links">
        <a href="../index.html" class="active">Inicio</a>
        <a href="./productos.html">Productos</a>
        <a href="./carrito.html">Carrito</a>
        <a href="./sobre-mi.html">Nosotros</a>
        <a href="./login.html">Ingresar</a>
      </div>
    </nav>
  </header>


  <main>
    <h2>Tu carrito</h2>

    <div id="carrito" class="carrito-container">
      <!-- Items generados por JS -->
    </div>

    <div id="total" class="total-container">
      <!-- Total generado por JS -->
    </div>
  </main>

  
  <footer class="footer">
    <div class="footer-logo">3<span>u</span>ilD</div>
    <p>Impresiones 3D que toman forma.</p>
    <p class="copyright">© 2026 3uilD · Todos los derechos reservados</p>
  </footer>


  <script src="../app.js"></script>
</body>
</html>
