<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3uilD | Ingresar</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/register.style.css">
</head>
<body>
    

    <header class="header">
        <nav class="navbar">
          <a href="index.html" class="logo" aria-label="3uilD - Inicio">
            3<span>u</span>ilD
          </a>
    
          <div class="nav-links">
            <a href="../index.html" class="active">Inicio</a>
            <a href="./productos.html">Productos</a>
            <a href="./carrito.html">Carrito</a>
            <a href="./sobre-mi.html">Nosotros</a>
            <a href="./login.html">Ingresar</a>
          </div>
        </nav>
      </header>
    

    <main>
        <section>
            <br>
            <h2>Completa las areas especificadas</h2>
            <form action="">
                <input type="email" placeholder="Correo Electronico">
                <br>
                <input type="password" placeholder="Contraseña">
                <br>
                <input type="submit" value="Iniciar Sesion Ahora">
            </form>
        </section>
        <script>

        </script>
        <section>
            <h2>¿No tenes una cuenta registrada?</h2>
            Registrate <a href="../views/register.html"> aca</a>
        </section>
    </main>


    
  <footer class="footer">
    <div class="footer-logo">3<span>u</span>ilD</div>
    <p>Impresiones 3D que toman forma.</p>
    <p class="copyright">© 2026 3uilD · Todos los derechos reservados</p>
  </footer>

    
</body>
</html>