<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda 3D - Productos</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <header>
      <h1>Productos 3D</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./carrito.html">Carrito</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Catálogo</h2>

      <div id="lista-productos" class="grid-productos">

      </div>


    </main>

    <footer>
      <p>© 2026 Tienda 3D</p>
    </footer>

    <script>

      //creo un arreglo de productos 

      const productos = [
        {
          id: 1,
          nombre: "Llaveros Hexagonales 3D",
          precio: 2500,
          imagen: "../assets/images/porta_llave.jfif",
        },
        {
          id: 2,
          nombre: "Macetas Figuritas 3D",
          precio: 6000,
          imagen: "../assets/images/maceta_groot.jpeg",
        },
        {
          id: 3,
          nombre: "Perritos Balloon 3D",
          precio: 8500,
          imagen: "../assets/images/perro.jfif",
        },
        {
          id: 4,
          nombre: "Organizador Cápsulas Café",
          precio: 7000,
          imagen: "../assets/images/porta_capsula.jfif",
        },
        {
          id: 5,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },{
          id: 6,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },{
          id: 7,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },{
          id: 8,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },{
          id: 9,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },
        {
            id: 10,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },
        {
          id: 11,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },
        {
            id: 12,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },
        {
          id: 13,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },
        {
          id: 14,
          nombre: "Organizador Mario Bros",
          precio: 9000,
          imagen: "../assets/images/maceta_pareja.jfif",
        },
      ];

      //tengo que imitar lo que tengo en html para crear el productoCard

      /*
<div class="producto-card">
          <img
            src="../assets/images/maceta_pareja.jfif"
            alt="Maceta pareja 3D"
          />
          <h3>Organizador Mario Bros</h3>
          <p>$9000</p>
          <button onclick="agregarAlCarrito(5)">Agregar al carrito</button>
        </div>
*/


// lo traje de bd 

//tengo una lista de proeductos




      productos.forEach((producto) => {
        const productoCard = document.createElement("div");
        productoCard.classList.add("producto-card");

        const img = document.createElement("img");
        img.src = producto.imagen;
        img.alt = producto.nombre;

        const h3 = document.createElement("h3");
        h3.textContent = producto.nombre;

        const p = document.createElement("p");
        p.textContent = producto.precio;

        const button = document.createElement("button");
        button.textContent = "Agregar al carrito";
        button.onclick = () => agregarAlCarrito(producto.id);
        //tengo que imitar lo que tengo en html para crear el productoCard
        //los agrego al productoCard
        productoCard.appendChild(img);
        productoCard.appendChild(h3);
        productoCard.appendChild(p);
        productoCard.appendChild(button);

        //agrego c/u de los productoCard al div lista-productos
        document.getElementById("lista-productos").appendChild(productoCard);
      });



      listaProductos.innerHTML = productos.map(producto => ` 
        <div class="producto-card">
          <img src="${producto.imagen}" alt="${producto.nombre}">
          <h3>${producto.nombre}</h3>
          <p>${producto.precio}</p>
          <button onclick="agregarAlCarrito(${producto.id})">Agregar al carrito</button>
        </div>
      `).join("");


      /*
      //otra forma mas facil de hacerlo es usando el innerHTML
      const listaProductos = document.getElementById("lista-productos"); //traigo el div lista-productos, el que tiene todos


      //map es para recorrer el array productos y crear un nuevo array con los productos
      listaProductos.innerHTML = productos.map(producto => ` 
        <div class="producto-card">
          <img src="${producto.imagen}" alt="${producto.nombre}">
          <h3>${producto.nombre}</h3>
          <p>${producto.precio}</p>
          <button onclick="agregarAlCarrito(${producto.id})">Agregar al carrito</button>
        </div>
      `).join("");
      //join("") es para unir todos los productos en un solo string
*/

      function agregarAlCarrito(id) {
        let carrito = JSON.parse(localStorage.getItem("carrito")) || []; 
        //traigo el carrito del localStorage, si no existe, creo un array vacio
        //JSON.parse es para convertir el string del localStorage a un array
        //|| [] es para que si no existe, creo un array vacio

        const producto = productos.find(prod => prod.id === id);
        //find es para buscar el producto en el array productos

        //tengo que verificar si el carrito esta vacio
        if(carrito.length === 0){
      carrito.push(producto)
        } else{
          carrito.find(prod => prod.id === id) ? prod.cantidad++ : carrito.push(producto);
          }
          //si esta vacio, agrego directamente el producto al carrito

          //si no esta vacio, verifico si el producto ya esta en el carrito
          //si llega a estar en el carrito, incremento la cantidad
          //si no esta en el carrito, agrego el producto al carrito


          localStorage.setItem("carrito", JSON.stringify(carrito));
          //setItem es para guardar el carrito en el localStorage
          //JSON.stringify es para convertir el array a un string


          alert(`${producto.nombre} agregado al carrito`);
          console.log(carrito);
        }
    </script>
  </body>
</html>
