<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3uilD | Registro</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/register.style.css">
    <link rel="icon" type="image/svg+xml"
        href="https://static.vecteezy.com/system/resources/previews/057/961/567/non_2x/elegant-3d-printing-icon-with-3d-printer-and-object-vector.jpg">
</head>

<body>

    <header class="header">
        <nav class="navbar">
            <a href="../index.html" class="logo" aria-label="3uilD - Inicio">
                3<span>u</span>ilD
            </a>

            <div class="nav-links">
                <a href="../index.html">Inicio</a>
                <a href="./productos.html">Productos</a>
                <a href="./carrito.html">Carrito</a>
                <a href="./sobre-mi.html">Nosotros</a>
                <a href="./login.html" class="active">Ingresar </a>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <br>
            <h2>Completa las areas especificadas</h2>
            <form action="" id="registro">
                <input type="text" id="nombre" placeholder="Nombre Completo">
                <p id="mensajeNombre"></p>
                <input type="text" id="apellido" placeholder="Apellido">
                <p id="mensajeApellido"></p>
                <input type="tel" id="telefono" placeholder="N⁰ de Telefono">
                <p id="mensajeTelefono"></p>
                <input type="date" id="fecha" placeholder="Fecha de Nacimiento">
                <p id="mensajeFecha"></p>
                <input type="email" id="correo" placeholder="Correo Electronico">
                <p id="mensajeCorreo"></p>
                <input type="email" id="confCorreo" placeholder="Confirmar Correo Electronico">
                <p id="msjConfCorreo"></p>
                <input type="password" id="passWord" placeholder="Contraseña">
                <p id="mensajePassword"></p>
                <input type="password" id="confPass" placeholder="Confirmar Contraseña">
                <p id="msjConfPass"></p>

                <p id="mensajeGeneral"></p>

                <input type="submit" id="btnSubmit" value="Registrarse Ahora">
            </form>
        </section>
        <section>
            <h2>¿Ya tenes una cuenta registrada?</h2>
            Inicia sesion <a href="../views/login.html"> aca</a>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-logo">3<span>u</span>ilD</div>
        <p>Impresiones 3D que toman forma.</p>
        <p class="copyright">© 2026 3uilD · Todos los derechos reservados</p>
    </footer>

    <script src="../js/register.js"></script>
</body>

</html>